<!DOCTYPE html>
<html ng-app="myFirstApp">
<head>
    <title>Clock!</title>
    <script src="angular.js"></script>
    <script src="bootstrap.js"></script>
    <script src="timectrl.js"></script>
    <script src="namectrl.js"></script>
</head>
<body >

    <div ng-controller="timeCtrl">
            <h1>time</h1>
            <h1>{{time}}</h1>
            <button ng-click="updateTime()">Click to update time</button>
    </div>
    <br>
    <div ng-controller="nameCtrl">
            <h1>name</h1>
            <h1>{{name}}</h1>
            <button ng-click="reverseName()">Click to reverse name</button>
    </div>
</body>
</html>